@import url("../fonts/fonts.css");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  scroll-behavior: smooth;
}
:root {
  --body-bg: #f6f8ff;
  --color: #222731;
  --bg-username: #fefefe;
  --bg-info: #fefefe;
  --bg-flowwer: #f6f8ff;
  --bg-input: #fefefe;
  --color-name: #2b3442;
  --color-created: #697c9a;
  --color-bio: #4b6a9b;
  --color-text: #4b6a9b;
  --color-repos: #2b3442;
  --color-social: #4b6a9b;
  --color-icon: #4b6a9b;
}

body.dark-theme {
  --body-bg: #141d2f;
  --color: #ffffff;
  --bg-username: #1e2a47;
  --bg-input: #1e2a47;
  --bg-flowwer: #1e2a47;
  --bg-info: #1e2a47;
  --color-name: #ffffff;
  --color-created: #ffffff;
  --color-bio: #ffffff;
  --color-text: #ffffff;
  --color-repos: #ffffff;
  --color-social: #ffffff;
  --color-icon: #ffffff;
}
body {
  background-color: var(--body-bg);
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.6;
  height: 100%;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  object-fit: cover;
}

main {
  flex-grow: 1;
}

.container {
  max-width: 730px;
  width: 100%;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.6rem;
}
.nav_item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.nav_logo {
  font-size: 2.6rem;
  color: var(--color);
}
.btn {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 1.3rem;
  letter-spacing: 2.5px;
  color: #697c9a;
  text-transform: uppercase;
  border: none;
  background: none;
}
.dark_btn {
  color: #222731;
}
.light_btn {
  color: #ffffff;
}

.hidden {
  display: none;
}

.search_box {
  position: relative;
  margin-bottom: 2.4rem;
}

.search_box i {
  position: absolute;
  top: 50%;
  left: 3.2rem;
  transform: translateY(-50%);
  color: #0079ff;
  font-size: 1.8rem;
}

.search_box input {
  width: 100%;
  height: 69px;
  padding-left: 6rem;
}

.user_name {
  width: 100%;
  height: 69px;
  background-color: var(--bg-username);
  border-radius: 1.5rem;
  box-shadow: 0px 16px 30px -10px #4660bb33;
  border: none;
}

input {
  font-family: inherit;
  font-weight: 400;
  font-size: 1.8rem;
  color: var(--color);
  line-height: 1.4;
}
.search_btn {
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #0079ff;
  border: none;
  color: #ffffff;
  padding: 1.3rem 2.3rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  transform: translateY(-50%);
}
.info {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 16px 30px -10px #4660bb33;
  background-color: var(--bg-info);
}

.avatar_section {
  display: flex;
  flex-direction: row;
  gap: 3.7rem;
}

.logo_img {
  border-radius: 50%;
  margin-top: 4.8rem;
  margin-left: 4.8rem;
}

.logo-description {
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_position {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 4.4rem;
}

.logo_name {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
}
.name {
  font-size: 2.6rem;
  color: var(--color-name);
}
.login {
  font-weight: 400;
  font-size: 1.6rem;
  color: #0079ff;
  margin-bottom: 2rem;
}
.created_at {
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--color-created);
}

.avatar_bio {
  width: 480px;
  margin-left: auto;
}
.bio {
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--color-bio);
  margin-bottom: 3.2rem;
  opacity: 0.75;
}

.about_flowwer {
  width: 100%;
  background-color: var(--bg-flowwer);
  border-radius: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  box-shadow: 0px 16px 30px -10px #4660bb33;
  margin-bottom: 3.7rem;
}
.about_repos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
  padding-top: 1.5rem;
  padding-bottom: 1.7rem;
}

.text {
  font-weight: 400;
  font-size: 1.3rem;
  color: var(--color-text);
  text-transform: capitalize;
}
.public_repos,
.fallowers,
.fallowing {
  color: var(--color-repos);
}

.logo_footter {
  display: flex;
  flex-direction: row;
}
.logo_location {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.logo_adresse {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 1.6rem;
}

.fas,
.fa-twitter {
  color: var(--color-icon);
}
.location,
.blog,
.twitter_username,
.company {
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--color-social);
}

.logo_social {
  display: flex;
  flex-direction: column;
}
.logo_twitter {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
}

@media screen and (max-width: 573px) {
  .logo_position {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
  }
  .avatar_section {
    margin-bottom: 2.4rem;
  }
  .avatar_bio {
    width: 100%;
    margin-left: 0;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  backdrop-filter: blur(3px);
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
